###########################################################################
##	Taken from Christian
###########################################################################
*
!*/
!.gitignore
!README.md
###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL and XDC files.
!*.vhd
!*.xdc
#########
