#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete.
##	This file has been modified from its original form. For the original, use link:
##	https://www.xilinx.com/support/answers/61232.html
#########################################################################################################
#########
#Exclude all
#########
*
!*/
!.gitignore
!README.md
###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL and XDC files.
!*.vhd
!*.xdc
#########
